version: "3.9"

services:
  postgres:
    image: postgres:15-alpine
    container_name: three-tier-postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: tasks_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  rabbitmq:
    image: rabbitmq:3.13-management
    container_name: three-tier-rabbitmq
    restart: unless-stopped
    ports:
      - "5672:5672"
      - "15672:15672"

  backend:
    build:
      context: ./backend
    container_name: three-tier-backend
    restart: unless-stopped
    environment:
      PORT: 4000
      DATABASE_URL: postgresql://postgres:postgres@postgres:5432/tasks_db
      RABBITMQ_URL: amqp://rabbitmq:5672
      RABBITMQ_QUEUE: task_events
    depends_on:
      - postgres
      - rabbitmq
    ports:
      - "4000:4000"

  frontend:
    build:
      context: ./frontend
      args:
        VITE_API_BASE_URL: http://localhost:4000
    container_name: three-tier-frontend
    restart: unless-stopped
    ports:
      - "5173:80"
    depends_on:
      - backend

volumes:
  postgres_data:
